body {
  scroll-behavior: smooth;
}
.cormorant {
  font-family: "Cormorant", serif;
}

.albert {
  font-family: "Albert Sans", sans-serif;
}
/* Hide thumb (white circle) for all browsers */
.no-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

.no-thumb::-moz-range-thumb {
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

.no-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

.no-thumb::-moz-range-thumb {
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

.no-thumb::-ms-thumb {
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
.no-thumb::-webkit-slider-thumb {
  height: 0px;
  width: 0px;
  background: transparent;
  border-radius: none;
  cursor: pointer;
  margin-top: -5px;
  opacity: 0;
}
.no-thumbr::-webkit-slider-runnable-track {
  height: 4px;
  background: rgba(255, 255, 255, 0.4); /* white with 40% opacity */
  border-radius: 4px;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
/* .float-animation {
  animation: float 3s ease-in-out infinite;
} */
